<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PuntoDeVentaV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PuntoDeVentaV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="Proveedor" value="true" />
    <add key="chkProveedor" value="true" />
    <add key="Color" value="true" />
    <add key="chkColor" value="true" />
    <add key="Peso" value="true" />
    <add key="chkPeso" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <PuntoDeVentaV2.Properties.Settings>
      <setting name="Usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="rutaDirectorio" serializeAs="String">
        <value />
      </setting>
      <setting name="pathPUDVE" serializeAs="String">
        <value />
      </setting>
      <setting name="InicioFinInventario" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Hosting" serializeAs="String">
        <value />
      </setting>
      <setting name="StockNegativo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkProveedor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkCategoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkUbicacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlterProductos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlterProductosDeServicios" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FiltroOrdenar" serializeAs="String">
        <value>Ordenar por:</value>
      </setting>
      <setting name="FiltroMostrar" serializeAs="String">
        <value>Habilitados</value>
      </setting>
      <setting name="checkShowProveedor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkShowCategoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkShowUbicacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="baseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="archivo" serializeAs="String">
        <value />
      </setting>
      <setting name="TipoEjecucion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="folioAbrirCaja" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chkFiltroStock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkFiltroPrecio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strFiltroStock" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="strFiltroPrecio" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="chkFiltroProveedor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strFiltroProveedor" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="tiempoTimerAndroid" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chkFiltroCombProdServ" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strFiltroCombProdServ" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="chkFiltroRevisionInventario" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strFiltroRevisionInventario" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="chkFiltroImagen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strFiltroImagen" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="fechaFinLicencia" serializeAs="String">
        <value />
      </setting>
      <setting name="licencia" serializeAs="String">
        <value />
      </setting>
      <setting name="efectivoRecibido" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tarjetaRecibido" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="transfRecibido" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="chequeRecibido" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="valesRecibido" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sumaTotal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cambioTotal" serializeAs="String">
        <value>0</value>
      </setting>
    </PuntoDeVentaV2.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="timbrado_cfdi33_binding">
          <security mode="Transport" />
        </binding>
        <binding name="timbrado_cfdi33_binding1" />
        <binding name="timbrado_cfdi33_binding2">
          <security mode="Transport" />
        </binding>
        <binding name="timbrado_cfdi33_binding3" />
        <binding name="cancelacion_binding">
          <security mode="Transport" />
        </binding>
        <binding name="cancelacion_binding1" />
        <binding name="cancelacion_binding2">
          <security mode="Transport" />
        </binding>
        <binding name="cancelacion_binding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://staging.ws.timbox.com.mx/timbrado_cfdi33/action"
        binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi33_binding"
        contract="ServiceReferenceTPrueba.timbrado_cfdi33_port" name="timbrado_cfdi33_port" />
      <endpoint address="https://sistema.timbox.com.mx/timbrado_cfdi33/action"
        binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi33_binding2"
        contract="ServiceReference_produccion.timbrado_cfdi33_port"
        name="timbrado_cfdi33_port1" />
      <endpoint address="https://staging.ws.timbox.com.mx/cancelacion/action"
        binding="basicHttpBinding" bindingConfiguration="cancelacion_binding"
        contract="ServiceReference_cancelar_prueba.cancelacion_port"
        name="cancelacion_port" />
      <endpoint address="https://sistema.timbox.com.mx/cancelacion/action"
        binding="basicHttpBinding" bindingConfiguration="cancelacion_binding2"
        contract="ServiceReference_cancelar_produccion.cancelacion_port"
        name="cancelacion_port1" />
    </client>
  </system.serviceModel>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PuntoDeVentaV2.Properties.Settings>
      <setting name="PuntoDeVentaV2_FH_CFDI40_test_WsEmisionTimbrado40"
        serializeAs="String">
        <value>http://pruebasclientes.facturehoy.com:8080/CFDI40/WsEmisionTimbrado40</value>
      </setting>
      <setting name="PuntoDeVentaV2_FH_CFDI40_produccion_WsEmisionTimbrado40"
        serializeAs="String">
        <value>https://wsprod3.facturehoy.com:443/CFDI40/WsEmisionTimbrado40</value>
      </setting>
    </PuntoDeVentaV2.Properties.Settings>
  </applicationSettings>
</configuration>
