<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PuntoDeVentaV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="Proveedor" value="true" />
    <add key="chkProveedor" value="false" />
    <add key="Categoria" value="true" />
    <add key="chkCategoria" value="false" />
    <add key="Ubicacion" value="true" />
    <add key="chkUbicacion" value="false" />
    <add key="Color" value="true" />
    <add key="chkColor" value="false" />
  </appSettings>
  <userSettings>
    <PuntoDeVentaV2.Properties.Settings>
      <setting name="Usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="rutaDirectorio" serializeAs="String">
        <value />
      </setting>
      <setting name="pathPUDVE" serializeAs="String">
        <value />
      </setting>
      <setting name="InicioFinInventario" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Hosting" serializeAs="String">
        <value />
      </setting>
      <setting name="StockNegativo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkProveedor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkCategoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkUbicacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlterProductos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlterProductosDeServicios" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FiltroOrdenar" serializeAs="String">
        <value>Ordenar por:</value>
      </setting>
      <setting name="FiltroMostrar" serializeAs="String">
        <value>Habilitados</value>
      </setting>
      <setting name="checkShowProveedor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkShowCategoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkShowUbicacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="baseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="archivo" serializeAs="String">
        <value />
      </setting>
      <setting name="TipoEjecucion" serializeAs="String">
        <value>0</value>
      </setting>
    </PuntoDeVentaV2.Properties.Settings>
  </userSettings>
</configuration>