<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.20" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="Control.Draggable" version="1.0.5049.269" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net48" />
  <package id="Fkosoft.FontAwesome" version="1.1.0.15" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net452" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net452" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net452" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net452" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.21" targetFramework="net452" />
  <package id="MySqlBackup.NET" version="2.3.3.1" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="SpreadsheetLight.Fork" version="3.5.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net452" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net452" />
  <package id="TuesPechkin" version="2.1.1" targetFramework="net452" />
  <package id="TuesPechkin.Wkhtmltox.Win32" version="0.12.2.1" targetFramework="net452" />
</packages>